.navbar{
	
}

#img1, #img2, #img11, #img22{
	width: 500px;
	height: auto;
}

.col-md-6{
	text-align: center;
}

input{
	margin: auto;
}

.graph{
	width: 80%;
	height: auto;
	margin: auto;
}

#btn-eu, #btn-dtw, #btn-submit {
	border: 1px solid #FFFFFF;
}

#btn-r, #btn-g, #btn-b {
	border: none;
	margin-left: 20px;
}

#btn-r {
	background-color: #f44336;
}

#btn-g {
	background-color: #4CAF50;
}

#btn-b {
	background-color: #008CBA;
}

.score {
	width: 50px;
	height: 50px;
}

.circle {
margin-left: auto;
margin-right: auto;
border-radius: 50%;
width: 100%;
position: relative;
}

.circle-border {
border: 1px solid black;
}

.circle-solid{
background-color: whitesmoke;
}

.circle:before {
content: "";
display: block;
padding-top: 100%;
}

.circle-inner {
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
text-align: center;
}
.score-text {
margin: auto;
position: absolute;
top: 0;
left: 0;
bottom: 0;
right: 0;
height: 2em;
line-height: 2em;
font-size: 2em;
}